* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1170px;
  }
}
#check {
  display: none;
}

#check:checked ~ .header-menu {
  width: 100%;
}
#check:checked ~ .header-menu .header-menu-link {
  display: block;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
}
#check:checked ~ .header-menu .header-menu-block {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media only screen and (min-width: 1024px) {
  #check:checked ~ .header-menu {
    width: 30%;
    transition: 0.5s;
  }
  .header-menu-link {
    overflow: visible;
  }
  .header-menu-block {
    font-size: 22px;
  }
}
.header-menu-lab {
  position: absolute;
  top: 25px;
  left: 13px;
  z-index: 3;
}
.header-menu-lab img {
  max-width: 70%;
}

@media only screen and (min-width: 1024px) {
  .header-menu-lab {
    left: 45px;
  }
  .header-menu-lab img {
    max-width: 100%;
  }
}
.header-menu {
  position: absolute;
  transition: 0.5s;
  width: 50px;
  height: 410px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

@media only screen and (min-width: 1024px) {
  .header-menu {
    height: 740px;
    width: 115px;
  }
}
.header-menu-link {
  display: none;
}

.header-menu-link {
  list-style: none;
  overflow: hidden;
}
.header-menu-link a {
  text-decoration: none;
  color: #999999;
  text-transform: capitalize;
  font-size: 16px;
  overflow: hidden;
}

.header-menu-block {
  list-style: none;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.header-menu-block a {
  color: #999999;
  text-decoration: none;
  font-size: 16px;
}

@media only screen and (min-width: 1024px) {
  .header-menu-block a {
    font-size: 22px;
  }
}
#search {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .learn {
    padding: 20px 0;
  }
}
.learn-text {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.learn-text span {
  font-size: 25px;
  color: #c5a27f;
  font-family: "Bodoni";
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
  .learn-text {
    margin-top: -10px;
  }
  .learn-text span {
    font-size: 28px;
  }
}
.learn-search-lab {
  position: absolute;
  right: 15px;
  top: 25px;
}
.learn-search-lab img {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 1024px) {
  .learn-search-lab {
    right: 30px;
  }
  .learn-search-lab img {
    width: auto;
    height: auto;
  }
}
.learn-search-block {
  position: absolute;
  right: -100%;
  top: 20px;
  transition: 0.5s;
  z-index: 3;
  display: none;
}

#search:checked ~ .learn-search-block {
  right: 45%;
  transform: translateX(50%);
  display: block;
}

@media only screen and (min-width: 768px) {
  #search:checked ~ .learn-search-block {
    right: 18%;
    transform: translateX(50%);
  }
}
#text {
  padding: 8px 15px;
  border-radius: 12px;
  border: 1px solid #999999;
  outline: none;
}

.header-inner {
  background: linear-gradient(to right, rgba(113, 119, 154, 0.7), rgba(207, 180, 155, 0.7)), url(/images/header_img.png);
  background-size: 100% 100%;
  height: 350px;
  margin-left: 50px;
}

@media only screen and (min-width: 1024px) {
  .header-inner {
    height: 650px;
    margin-left: 115px;
  }
}
.header-inner-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media only screen and (min-width: 1024px) {
  .header-inner-block {
    gap: 40px;
  }
}
.header-inner-block-learn {
  text-transform: capitalize;
  color: #fff;
  font-size: 24px;
  font-family: "Gilda Display", sans-serif;
  text-align: center;
  padding-top: 20px;
  font-weight: 100;
}

@media only screen and (min-width: 1024px) {
  .header-inner-block-learn {
    font-size: 50px;
    padding-top: 100px;
  }
}
.header-inner-block-text {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
}
.header-inner-block-text a {
  font-size: 12px;
  color: #999999;
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
  .header-inner-block-text a {
    font-size: 16px;
  }
}
.header-inner-block-regular {
  display: flex;
  gap: 10px;
  background-color: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.header-inner-block-regular-sel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px;
  align-items: center;
  justify-content: center;
}
.header-inner-block-regular-sel p {
  text-transform: uppercase;
  font-size: 10px;
  color: #999999;
}
.header-inner-block-regular-sel p:nth-child(2) {
  font-size: 24px;
}
.header-inner-block-regular-sel select {
  color: #999999;
  font-size: 12px;
  border: none;
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
  .header-inner-block-regular-sel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
  }
  .header-inner-block-regular-sel p {
    font-size: 16px;
  }
  .header-inner-block-regular-sel p:nth-child(2) {
    font-size: 30px;
  }
  .header-inner-block-regular-sel select {
    font-size: 16px;
  }
}
.header-inner-block-regular-submit {
  background-color: #0e6fb3;
  display: flex;
  align-items: center;
  flex-basis: 100%;
  justify-content: center;
}
.header-inner-block-regular-submit input {
  text-transform: uppercase;
  color: #fff;
  background-color: #0e6fb3;
  border: none;
  padding: 10px 10px;
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .header-inner-block-regular-submit {
    flex-basis: 0%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .header-inner-block-regular-submit input {
    flex-basis: 25%;
    white-space: pre-wrap;
  }
}
.our-inner-learn {
  text-transform: capitalize;
  font-size: 45px;
  font-family: "Gilda Display", sans-serif;
  color: #686868;
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.our-inner-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.our-inner-block-img {
  overflow: hidden;
  height: 259px;
  width: 357px;
  position: relative;
}
.our-inner-block-img img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.our-inner-block-img:hover img {
  transform: scale(130%);
}

.our-inner-block-img-link {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 15%;
}
.our-inner-block-img-link p {
  line-height: 3;
}
.our-inner-block-img-link p a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  background-color: #c19b76;
  padding: 10px;
}
.our-inner-block-img-link p:nth-child(2) a {
  padding: 0;
  background-color: transparent;
}

.best {
  background-color: #EFF4F8;
  margin-top: 50px;
}

@media only screen and (min-width: 1024px) {
  .best {
    padding: 40px;
  }
}
.best-inner {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .best-inner {
    position: relative;
  }
}
.best-inner-img img {
  max-width: 100%;
  height: auto;
}

.best-inner-text {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.best-inner-text h3 {
  color: #686868;
  font-size: 32px;
  text-transform: capitalize;
  font-family: "Gilda Display";
  margin-bottom: 20px;
  font-weight: 100;
}
.best-inner-text p {
  font-size: 14px;
  line-height: 30px;
  color: #a0a0a0;
}

@media only screen and (min-width: 1024px) {
  .best-inner-text {
    position: absolute;
    max-width: 45%;
    top: 25%;
    right: 25px;
  }
  .best-inner-text h3 {
    font-size: 45px;
  }
  .best-inner-text p {
    font-size: 18px;
  }
}
.servis-inner-learn {
  padding: 30px;
}
.servis-inner-learn p {
  text-transform: capitalize;
  font-size: 32px;
  color: #686868;
  text-align: center;
  font-family: "Gilda Display", sans-serif;
}

@media only screen and (min-width: 1024px) {
  .servis-inner-learn p {
    font-size: 45px;
  }
}
.servis-inner-block {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .servis-inner-block {
    flex-direction: row;
  }
}
.servis-inner-block-restaran {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.servis-inner-block-restaran-img {
  margin-bottom: 10px;
}

.servis-inner-block-restaran-text {
  line-height: 2;
  text-align: center;
}
.servis-inner-block-restaran-text span {
  font-size: 25px;
  color: #686868;
  font-family: "Gilda Display", sans-serif;
  text-transform: capitalize;
}
.servis-inner-block-restaran-text p {
  font-size: 14px;
  color: #a0a0a0;
  text-align: center;
}

.find-inner {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

@media only screen and (min-width: 1024px) {
  .find-inner {
    flex-direction: row;
  }
}
.find-inner-img {
  background: url(/images/find.png);
  height: 400px;
  background-size: cover;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .find-inner-img {
    height: 600px;
  }
}
@media only screen and (min-width: 1024px) {
  .find-inner-img {
    display: flex;
    flex-basis: 60%;
    height: 800px;
  }
}
.find-inner-text {
  background-color: #0e6fb3;
  padding: 20px;
}
.find-inner-text h3 {
  font-size: 28px;
  color: #fff;
  text-transform: capitalize;
  font-family: "Gilda Display", sans-serif;
}
.find-inner-text p {
  font-size: 14px;
  color: #fff;
  line-height: 2;
}
.find-inner-text a {
  text-decoration: none;
  color: #999999;
  font-size: 16px;
  text-transform: capitalize;
  font-family: "Gilda Display", sans-serif;
  display: flex;
  padding: 15px 25px;
}

@media only screen and (min-width: 1024px) {
  .find-inner-text {
    flex-basis: 40%;
    padding: 70px 40px;
  }
  .find-inner-text h3 {
    font-size: 45px;
  }
  .find-inner-text p {
    font-size: 18px;
  }
  .find-inner-text a {
    font-size: 25px;
    padding: 15px 30px;
  }
}
.find-inner-text-link {
  background-color: #fff;
  display: inline-block;
  margin-top: 10px;
}

.from-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.from-inner-learn {
  text-align: center;
}

.from-inner-learn-el h3 {
  font-size: 32px;
  color: #686868;
  text-transform: capitalize;
  font-family: "Gilda Display", sans-serif;
  font-weight: 100;
}

@media only screen and (min-width: 1024px) {
  .from-inner-learn-el h3 {
    font-size: 45px;
  }
}
.from-inner-learn-text {
  padding: 20px;
}
.from-inner-learn-text p {
  color: #a0a0a0;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  box-shadow: 0 0 10px 0 #e7eff7;
  padding: 20px 30px;
}

@media only screen and (min-width: 1024px) {
  .from-inner-learn-text p {
    padding: 20px 40px;
    margin: 0 200px;
  }
}
.from-inner-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.from-inner-block-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Gilda Display";
  align-items: center;
}
.from-inner-block-text span {
  font-size: 25px;
  text-transform: capitalize;
  color: #686868;
}
.from-inner-block-text p {
  font-size: 14px;
  color: #686868;
}

@media only screen and (min-width: 1024px) {
  .from-inner-block {
    flex-direction: row;
  }
}
.keep {
  background: url(/images/video.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 30px;
}

@media only screen and (min-width: 1024px) {
  .keep {
    padding: 150px;
  }
}
.keep-inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.keep-inner-text p {
  text-transform: capitalize;
  font-size: 32px;
  color: #fff;
  font-family: "Gilda Display", sans-serif;
}

@media only screen and (min-width: 1024px) {
  .keep-inner-text p {
    font-size: 50px;
  }
}
.keep-inner-link a {
  display: inline-block;
}
.keep-inner-link a img {
  max-width: 70%;
}

.test-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test-inner-learn {
  padding: 30px 0;
}
.test-inner-learn h3 {
  font-size: 32px;
  color: #686868;
  text-transform: capitalize;
  font-family: "Gilda Display", sans-serif;
  font-weight: 100;
}

@media only screen and (min-width: 1024px) {
  .test-inner-learn h3 {
    font-size: 45px;
  }
}
.test-inner-block {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.test-inner-block-el {
  position: relative;
  width: 357px;
  height: 259px;
  overflow: hidden;
}
.test-inner-block-el img {
  width: 370px;
  height: 269px;
}

.test-inner-block-el-link {
  bottom: -100%;
  position: absolute;
  background-color: #fff;
  transition: 0.5s;
  height: 100%;
  padding: 20px;
}
.test-inner-block-el-link span {
  font-size: 25px;
  color: #686868;
  font-family: "Gilda Display", sans-serif;
  text-transform: capitalize;
}
.test-inner-block-el-link p {
  font-size: 14px;
  color: #a0a0a0;
  line-height: 25px;
  margin: 5px 0;
  text-transform: capitalize;
}
.test-inner-block-el-link p:nth-child(3) {
  text-transform: none;
}
.test-inner-block-el-link a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  background-color: #0e6fb3;
  margin-top: 10px;
}

.test-inner-block-el:hover .test-inner-block-el-link {
  bottom: 0;
}

.test-inner-block-el-text {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 10%;
  line-height: 1.5;
  color: #fff;
}
.test-inner-block-el-text span {
  font-family: "Gilda Display", sans-serif;
  font-size: 22px;
}
.test-inner-block-el-text p {
  font-size: 14px;
}

.footer {
  background-color: #454545;
  margin-top: 30px;
}

.footer-inner-block {
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  padding: 30px 20px;
  flex-wrap: wrap;
}

.footer-inner-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}
.footer-inner-head h3 {
  font-size: 28px;
  color: #c5a27f;
  font-family: "Bodoni";
  text-transform: capitalize;
}
.footer-inner-head p {
  font-size: 14px;
  color: #cfcfcf;
  line-height: 25px;
}

.footer-inner-head-info {
  display: flex;
  gap: 20px;
}
.footer-inner-head-info img {
  width: 30px;
  height: 42px;
}

.footer-inner-link h3 {
  font-size: 22px;
  color: #fff;
  text-transform: capitalize;
  font-family: "Gilda Display", sans-serif;
}

.footer-inner-link-block {
  display: flex;
  gap: 80px;
  margin-top: 10px;
}

.footer-inner-link-block-el a {
  text-decoration: none;
  color: #cfcfcf;
  font-size: 14px;
}
.footer-inner-link-block-el li {
  list-style: none;
  line-height: 35px;
}

.footer-inner-message h3 {
  font-size: 22px;
  color: #fff;
  text-transform: capitalize;
  font-family: "Gilda Display", sans-serif;
}

.footer-inner-message-el {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
.footer-inner-message-el li {
  list-style: none;
}
.footer-inner-message-el a {
  text-decoration: none;
  color: #cfcfcf;
}

.footer-inner-year {
  text-align: center;
  padding: 30px 0;
}
.footer-inner-year span {
  color: #cfcfcf;
  font-size: 14px;
  text-transform: capitalize;
}/*# sourceMappingURL=style.css.map */