

.from-inner{
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      padding: 40px 0;
}

.from-inner-learn{
      text-align: center;
}

.from-inner-learn-el{
      h3{
            font-size: 32px;
            color: #686868;
            text-transform: capitalize;
            font-family: 'Gilda Display', sans-serif;
            font-weight: 100;
      }
}

@media only screen and (min-width: 1024px) {
      .from-inner-learn-el{
            h3{
                  font-size: 45px;
            }
      }
}

.from-inner-learn-text{
      padding: 20px;
      p{
            color: #a0a0a0;
            font-size: 14px;
            line-height: 1.5;
            text-align: left;
            box-shadow: 0 0 10px 0 #e7eff7;   
            padding: 20px 30px;  
      }
}

@media only screen and (min-width: 1024px) {
      .from-inner-learn-text{
            p{
                  padding: 20px 40px;
                  margin: 0 200px;
            }
      }
}

.from-inner-block{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      flex-direction: column;
}

.from-inner-block-text{
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-family: 'Gilda Display';
      align-items: center;
      span{
            font-size: 25px;
            text-transform: capitalize;
            color: #686868;
      }
      p{
            font-size: 14px;
            color: #686868;
      }
}

@media only screen and (min-width: 1024px) {
      .from-inner-block{
            flex-direction: row;
      }
}